.main-header {
  text-align: center;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: xxx-large;
  background-image: linear-gradient(to right, red 45%, green 55%);
  background-clip: text;
  color: transparent;
}
