.pokemons-card-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 10px;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 70%;
  margin-left: calc(20% + 20px);
  transition: all 0.5s;
  &.is-fetching {
    transform: translateY(-50px);
    > * {
      box-shadow: 0 5px 10px gray;
    }
  }
}
