.pokemon-type-icon {
  &__wrapper {
    border-radius: 20px;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    &:first-child {
      margin-right: 3px;
    }
  }
  &__img {
    height: 16px;
    margin: 0 auto;
    width: 16px;
  }
}
