.pokemons-card-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 60%;
  margin: 0 auto;
  transition: all 0.5s;
  &.is-fetching {
    transform: translateY(-50px);
    > * {
      box-shadow: 0 5px 10px gray;
    }
  }
}
