.pokemon-card {
  border: 1px solid rgb(151, 144, 144);
  margin-bottom: 10px;
  margin-right: 5px;
  flex: 0 0 8%;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__name-types-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    align-self: stretch;
  }
  &__types-container {
    display: flex;
    flex-direction: row;
    align-content: center;
  }
  &__types-wrapper {
    border-radius: 20px;
    background-color: darkblue;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__type {
    height: 16px;
    margin: 0 auto;
    width: 16px;
  }
}
